.red{
  color: red;
}

.bold{
  font-weight: bold;
}

.Cockpit{
    margin: 0px;
    padding: 0px;
}

.Cockpit button{
  justify-content: center;
  background-color: green;
  border: none;
  color:white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}

.Cockpit button.Clicked{
  background-color: red;
}

.Cockpit button.Clicked:hover {
  background-color: salmon;
}